hoverTransition()
  -webkit-transition: all .5s ease-in-out 0
  -moz-transition: all .5s ease-in-out 0
  -ms-transition: all .5s ease-in-out 0
  -o-transition: all .5s ease-in-out 0 
  transition: all .5s ease-in-out 0

.sidebar
  width: 25%
  height: 100vh
  position: fixed
  background: #b3ddf2
  color: white
  padding: 3rem 20px 1.5rem 20px
  box-sizing: border-box
  border-right: 1px solid #ff0000
  
  h1 a 
    font-family: "proxima-nova-soft", sans-serif
    text-transform: uppercase
    
  h1 a, a 
    color: white
    hoverTransition()
    &:hover
      color: darken(white, 3%)
  
  .sidebar-wrapper
    position: relative
    width: 100%
    height: 100%
    
    .form-group
      display: inline-block
      margin: .5rem 3px
      border: 2px solid rgba(255,255,255,.6)  
      border-radius: 30em
      padding: .5rem 10px
      hoverTransition() 
    
      label 
        margin: 0
        font-weight: 500
        font-size: 1.2rem
        letter-spacing: .1rem
        text-transform: uppercase
        line-height: 1
        position: relative
        top: 1px
        hoverTransition() 
      
      &:hover
        border-color: white
        background: rgba(255,255,255,.8)
        
        label
          color: #b3ddf2

    footer
      position: absolute
      bottom: 0
      width: 100%;
      
      a 
        text-transform: uppercase
