body
  header
    .brand.pull-left
      a(href='/')
        i.fa.fa-star 
        span Chicago Bike Racks
    .pull-right
      label(for='neighborhood_input') Neighborhood 
        small (more coming soon) :
      select(id='neighborhood_input')
        option(value='loop') Loop

  main(data-hook="page-container")
